<!DOCTYPE>
<html>
    <head>
        <title>Motos</title>
    </head>
    <body>
        <h1>Votaciones</h1>
        
            
                <div>
                    <h2>Usuario: {{votacion_ultima.usuario.nombre}}</h2>
                    <h2>Comentario: {{votacion_ultima.comentario}}</h2>
                    <h2>Puntuacion: {{votacion_ultima.puntuacion}}</h2>

                    <p>------------------------------------------------------------------</p>
                </div>
            


    </body>


</html>