{% extends "principal.html" %}
{% block contenido %}
{% load bootstrap5 %}
    <form action = "{% url 'moto_buscar_avanzado' %}" method = "GET"> 
        
        {% csrf_token %}

        <div class="mb-4">
            {% bootstrap_field formulario.textoBusqueda show_label=True %}
        </div>
        
        
        <div class="mb-4">
            {% bootstrap_field formulario.marca show_label=True %}
        </div>    

        <div class="mb-4">
            {% bootstrap_field formulario.anyo show_label=True %}
        </div>    

        <div class="mb-4">
            {% bootstrap_field formulario.precio show_label=True %}
        </div> 

        
        {% buttons %}
            <button type="submit" class="btn btn-primary" >Enviar</button>
        {% endbuttons %}
    </form> 
{% endblock %}