
{% extends "principal.html" %}
{% load bootstrap5 %}




{%block contenido%}
{% bootstrap_css %}
<form action="{% url 'formulario_moto' %}" method="POST">

    {% csrf_token %}
<!--
    {% bootstrap_form formulario_moto %}
-->
    <div class="mb-4">
        {% bootstrap_field formulario_moto.nombre %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.marca %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.modelo %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.año %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.precio %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.usuario %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario_moto.comentador %}
    </div>

    <button type="submit">Enviar</button>

</form>

{%endblock%}