{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">motos de forma descendente</h1>
{% endblock cabecera %}

{%block contenido%}

        {% for moto in motos_desc %}
        
            <div>
                <h2>Nombre: {{moto.nombre}}</h2>
                <h2>Marca: {{moto.marca}}</h2>
                <h2>Modelo: {{moto.modelo}}</h2>
                <h2>precio: {{moto.precio}}</h2>
                <h2>anyo: {{moto.año}}</h2>
                <ul>
                    {% for usuario in moto.usuario.all%}
                        <li>{{usuario.nombre}}</li>
                        <li>{{usuario.apellidos}}</li>
                    {%endfor%}
                </ul>

                <p>------------------------------------------------------------------</p>
            </div>
        
        {% endfor %}
{%endblock%}