{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">Motos</h1>
{% endblock cabecera %}

{%block contenido%}
        
        {% for moto in lista_moto %}
        
            {% include "motos/moto.html" %}
            <a href="{% url 'moto-moto-update' moto.id %}">EDITAR</a>
            <a href="{% url 'moto-moto-logic-delete' moto.id %}">ELIMINAR</a>
        {% empty %}
            <p>No se encuentran motos</p>


        {% endfor %}


{% block busqueda %}
{% endblock %}

{%endblock%}