{% extends "principal.html" %}

{%block contenido%}
        <h1>Eventos</h1>
        {% for moto in moto_anyo %}
        
            <div>
                <h2>Nombre: {{moto.nombre}}</h2>
                <h2>Marca: {{moto.marca}}</h2>
                <h2>Modelo: {{moto.modelo}}</h2>
                <h2>Precio: {{moto.precio}}</h2>
                <h2>Año: {{moto.año}}</h2>
                <h2>Usuario</h2>
                <ul>
                    {% for usuario in moto.usuario.all %}
                        <li>{{usuario.nombre}}</li>
                        <li>{{usuario.apellidos}}</li>
                    {%endfor%}
                </ul>

                <h2>Año: {{moto.ventamoto.datos_compra}}</h2>
                <p>------------------------------------------------------------------</p>
            </div>
        
        {% endfor %}

{%endblock%}