{% extends "principal.html" %}
{% load bootstrap5 %}


{%block contenido%}
{% bootstrap_css %}
<form action="{% url 'promocion_editar' promocion.id%}" method="POST">

    {% csrf_token %}

    <div class="mb-4">
        {% bootstrap_field promocion_editar.nombre %}
    </div>

    <div class="mb-4">
        {% bootstrap_field promocion_editar.descripcion %}
    </div>

    <div class="mb-4">
        {% bootstrap_field promocion_editar.usuario %}
    </div>

    <div class="mb-4">
        {% bootstrap_field promocion_editar.descuento %}
    </div>

    <div class="mb-4">
        {% bootstrap_field promocion_editar.fecha_fin %}
    </div>

    <button type="submit">Enviar</button>

</form>

{%endblock%}