{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">Eventos</h1>
{% endblock cabecera %}

{%block contenido%}

        {% if object_list %}
            {% for evento in object_list %}

                {% include "evento/evento_solo.html" %}
                <a href="{% url 'moto-evento-update' evento.id %}">EDITAR</a>
                <a href="{% url 'moto-evento-logic-delete' evento.id %}">ELIMINAR</a>
             
            {% endfor %}
        {% else %}
            <p>Lo sentimos no existen datos</p>
        {% endif %}        


{% block busqueda %}
{% endblock %}

{%endblock%}