{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">Eventos</h1>
{% endblock cabecera %}

{%block contenido%}
{{texto}}
        {% if object_list %}
            {% for evento in object_list %}

                {% include "evento/evento_solo.html" %}
                {% if perms.moto.change_evento %}
                <a href="{% url 'formulario_editar' evento.id %}">EDITAR</a>
                {%endif%}
                {% if perms.moto.delete_evento %}
                <a href="{% url 'moto-evento-logic-delete' evento.id %}">ELIMINAR</a>
                {%endif%}
             
            {% endfor %}
        {% else %}
            <p>Lo sentimos no existen datos</p>
        {% endif %}        


{% block busqueda %}
{% endblock %}

{%endblock%}