{% extends "principal.html" %}
{% block cabecera %}
    <h1 class="cabecera">Promociones</h1>
{% endblock cabecera %}

{%block contenido%}

        {{texto}}
        {% if object_list %}
            {% for promocion in object_list %}

                {% include "promocion/promocion.html" %}
                <a href="{% url 'promocion_editar' promocion.id %}">EDITAR</a>
                <a href="{% url 'moto-promocion-logic-delete' promocion.id %}">ELIMINAR</a>
                
             
            {% endfor %}
        {% else %}
            <p>Lo sentimos no existen datos</p>
        {% endif %}        


{% block busqueda %}
{% endblock %}

{%endblock%}