<div >
    <ul class="menu">
        <li><a href="{% url 'index' %}" class="enlacemenu">Inicio</a></li>
        <li><span>Motos</span>
            <ul class="submenu">
                <li> <a href="{% url 'moto' 1%}" class="enlacemenu">Moto</a></li>
                <li><a href="{% url 'lista_moto' %}" class="enlacemenu">Motos lista</a></li>
                <li><a href="{% url 'motos_desc' 1%}" class="enlacemenu">motos descendente</a></li>
                <li><a href="{% url 'moto_anyo'%}" class="enlacemenu">Motos ordenadas</a></li>
                <li><a href="{% url 'formulario_moto'%}" class="enlacemenu">Crear Moto</a></li>
                <li><a class="dropdown-item" href="{% url 'moto_buscar_avanzado' %}">Busqueda Avanzada de Moto</a></li>
            </ul>
        </li>
        <li><span>Eventos</span>
            <ul class="submenu">
                <li><a href="{% url 'evento' 1 %}" class="enlacemenu">Evento</a></li>
                <li><a href="{% url 'reserva_evento' 'a' %}" class="enlacemenu">Eventos a</a></li>
                <li><a href="{% url 'reserv_asc'%}" class="enlacemenu">Eventosfecha ascendente</a></li>
                <li><a href="{% url 'ult_cliente'%}" class="enlacemenu">Ultimo reservar</a></li>
            </ul>
        </li>
        <li><a href="{% url 'talla_m'%}" class="enlacemenu">Articulos M</a></li>
        <li><span>Concesionarios</span>
            <ul class="submenu">
                <li><a href="{% url 'concesionario' 1%}" class="enlacemenu">Concesionario</a></li>
                <li><a href="{% url 'concesionario_sin'%}" class="enlacemenu">Conc sin </a></li>
                <li><a href="{% url 'anyo_apertura' 2002 %}" class="enlacemenu">Conc que abrieron 2002</a></li>
                <li><a href="{% url 'contieneanyo' 2000 'i' %}" class="enlacemenu">Concesionarios</a></li>
                <li><a href="{% url 'lista_concesionario'%}" class="enlacemenu">Lista de Concesionarios</a></li>
                <li><a href="{% url 'formulario_concesionario'%}" class="enlacemenu">Crear concesionario</a></li>
            </ul>
        </li>

        <li><a href="{% url 'operacionesmedia' %}" class="enlacemenu">Agrupaciones</a></li>
        <li><a href="{% url 'nombre_desc' %}" class="enlacemenu">Nombre de descripcion</a></li>
        <li><span>Examen</span>
            <ul class="submenu">
                <li><a href="{% url 'votacion_ultima' 45 %}" class="enlacemenu">Último cliente en votar en la moto con id 45</a></li>
                <li><a href="{% url '3_puntos' 1 %}" class="enlacemenu">Motos con puntuacion 3 por el usuario 1 </a></li>
                <li><a href="{% url 'usuario_sin' %}" class="enlacemenu">usuarios sin voto </a></li>
                <li><a href="{% url 'bancos_nombre' 'as'%}" class="enlacemenu">Usuarios con el nombre as </a></li>
                <li><a href="{% url 'modelos_moto' %}" class="enlacemenu">Modelos de Moto con Media de Puntuación Mayor a 2.5</a></li>
            </ul>
        </li>
        <li>
            <form action="{% url 'moto_buscar' %}" class="d-flex mt-3" role="search" method="GET">
                <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
            </form>
        </li>
            
    </ul>
</div>
    