{% extends "principal.html" %}

{%block contenido%}
        <h1>Eventos</h1>
        {% for reserv in reserv_asc %}
        
            <div>
                <h2>Nombre: {{reserv.evento.nombre}}</h2>
                <h2>Fecha: {{reserv.evento.fecha}}</h2>
                <h2>Hora: {{reserv.evento.hora}}</h2>
                <h2>Fecha Reserva: {{reserv.fecha.reserva_evento}}</h2>
                
                <h2>Usuario: {{reserv.usuario.nombre}}</h2>
                
                <p>------------------------------------------------------------------</p>
            </div>
        
        {% endfor %}
{%endblock%}