{% extends "principal.html" %}

{%block contenido%}
        <h1>Concesionarios</h1>
        {% for conc in contieneanyo %}
        
            <div>
                <h2>Nombre: {{conc.nombre}}</h2>
                <h2>Ubicacion: {{conc.ubicacion}}</h2>
                <h2>Telefono: {{conc.telefono}}</h2>
                <h2>Fecha apertura: {{conc.fecha_apertura}}</h2>
                <h2>Descripcion: {{conc.descripcion}}</h2>


                <p>------------------------------------------------------------------</p>
            </div>
        
        {% endfor %}

{%endblock%}


</html>