{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">Concesionarios que contengan la letra i y abrieran en el 2000</h1>
{% endblock cabecera %}


{%block contenido%}

        {% for conc in contieneanyo %}

            
            <div>
                <h2>Nombre: {{conc.nombre}}</h2>
                <h2>Ubicacion: {{conc.ubicacion}}</h2>
                <h2>Telefono: {{conc.telefono}}</h2>
                <h2>Fecha apertura: {{conc.fecha_apertura|date:"d-m-Y"}}</h2>
                <h2>Descripcion: {{conc.descripcion}}</h2>


                <p>------------------------------------------------------------------</p>
            </div>
        
        {% endfor %}

{%endblock%}


</html>