{% extends "principal.html" %}

{% block cabecera %}
    <h1 class="cabecera">Concesionarios sin trabajador</h1>
{% endblock cabecera %}


{%block contenido%}
        
            {% for conc in concesionario_sin%}
            
                <div>
                    <h2>Nombre: {{conc.nombre}}</h2>
                    <h2>Ubicación: {{conc.ubicacion}}</h2>
                    <p>------------------------------------------------------------------</p>
                </div>
            {%empty%}
                <h2>No hay concesionarios sin trabajador</h2>

            {% endfor %}

{%endblock%}


